.navbar {
  width: 100%;
  max-width: 100vw;
  background: #2c4047;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding);
}

.navbar .contents {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar.contents .logo {
  width: 100px;
  margin-right: 50px;
}

.navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  max-width: 650px;
}

.links {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.navbar .contents .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-right: 50px;
}

